DATA CLEANING

- importing librairies

In [4]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

- extracting the data

In [26]:
iris = pd.read_csv('../Data-Cleaning-Challenge/iris-data.csv')

In [27]:
iris.head()

,sepal_length_cm,sepal_width_cm,petal_length_cm,petal_width_cm,class
0,5.1,3.5,1.4,0.2,Iris-setosa
1,4.9,3.0,1.4,0.2,Iris-setosa
2,4.7,3.2,1.3,0.2,Iris-setosa
3,4.6,3.1,1.5,0.2,Iris-setosa
4,5.0,3.6,1.4,0.2,Iris-setosa

In [33]:
missing_values = iris.isnull().sum()

In [29]:
# 5 missing values out of 150
missing_values_pct = missing_values/len(iris)*100
missing_values_pct

sepal_length_cm    0.000000
sepal_width_cm     0.000000
petal_length_cm    0.000000
petal_width_cm     3.333333
class              0.000000
dtype: float64

In [30]:
# 3 percent of the values are missing in colum petal width.
# 3 percent is not a significant amount of data loss so we can drop the nul values.
# We could otherwise, replace the values with the mean but half of the data is before 1.3 and 
# the range is stil quite big. 
# I will drop the values

In [31]:
iris = iris.drop(missing_values)

In [32]:
iris.shape

(148, 5)

In [12]:
iris.describe()

       sepal_length_cm  sepal_width_cm  petal_length_cm  petal_width_cm
count       150.000000      150.000000       150.000000      145.000000
mean          5.644627        3.054667         3.758667        1.236552
std           1.312781        0.433123         1.764420        0.755058
min           0.055000        2.000000         1.000000        0.100000
25%           5.100000        2.800000         1.600000        0.400000
50%           5.700000        3.000000         4.350000        1.300000
75%           6.400000        3.300000         5.100000        1.800000
max           7.900000        4.400000         6.900000        2.500000

In [ ]:
iris.